*{
  padding:0px;
  margin:0px;
}

body{
  background-color:#cccccc;  
}
ul{
  list-style: none;
}

ul li
{
  width: 150px;
  text-align:center;
  padding: 5px;
  border-bottom:3px 0 0 10px;
  border-left:10px soldid #cc3333;
}
